<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .halo{
        color: red;
    }
    #halo{
        text-decoration: underline;
    }
</style>
<body>
    <form action="">
        <!-- Bikin inputan -->
        <label for="">user</label>
        <input type="text" name="user" id="user">
        <label for="">password</label>
        <input type="password" name="pass" id="pass">
        <!-- Bikin button untuk perintah -->
        <button onclick="myfunction()">submit</button>
    </form>
    <script>
    //isi periinitah
     function myfunction(){
        //ambil id dari inputan
        valueUser = document.getElementById("user").value
        valuePass = document.getElementById("pass").value
            //pengecekan dari form
            if(valueUser==="kamal"&&valuePass==="123"){
                alert("User dan Password anda benar!")
            }else{
                alert("Invalid!")
            }
     }
        
    </script>
</body>
</html>